
{% extends 'base.html' %}

{% block content %}

<a href="{% url 'home' %}" role="button">Home</a> |
<a href="{% url 'list_brands' %}" role="button">Brands</a> |
<a href="{% url 'list_category' %}" role="button">Category</a> |
<br>
<br>
<a href="{% url 'create_category' %}" role="button">ADD</a>
<br>
<a href="{% url 'list_category_inactive' %}" role="button">Inactive Category</a>
<br>
{% if messages %}
<div class="alert alert-success" role="alert">
  <ul class="messages" style="none">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
</div>

{% endif %}

<table>
  <th>Category Name</th>
  <th>Status</th>
  {% for category in categorys %}
  <tr>
    <td><a href="{% url 'update_category' category.id %}">{{ category.category_name }}</a></td>
    <td>{{ category.is_active }} |</td>

  </tr>
  {% endfor %}
</table>

{% endblock %}
